* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}