@media screen and (max-width: 600px) {
    .choose-us ul {
        flex-direction: column;
        gap: 1rem;
    }

    .team-description ul li img {
        width: 50%;
        height: auto;
    }

    .team-description-wrapper, .about-us {
        width: 100%;
    }

    header nav {
        margin: 0;
        justify-content: center;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    header nav ul li {
        padding-right: 0;
    }

    .header-title {
        padding: 1em;
    }
}