@media screen and (max-width: 600px){
    .home-hero {
        flex-direction: column;
    }

    .home-hero-text-container {
        order: 2;
        width: 100%;
        margin-left: 0;
    }
    .home-image1 {
        order: 1;
        width: 100%;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        flex-direction: column;
        align-content: center;
    }
    .home-cards-container > div {
        width: 100%;
    }

    .home-links-container > span, .home-links-container > a {
        margin-right: 0.5rem;
    }

    .home-features {
         height: unset;
    }

    .home-stats {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .home-cta-btn.button.Anchor {
        font-size: 0.7rem;
    }
    .home-cta-btn {
        padding: 0.25rem 1.5rem;
    }

    .home-links-container > span, .home-links-container > a {
        font-size: 0.8rem;
    }
}