/* TODO: Add responsive styles here... */
@media screen and (max-width: 600px){
    .contact-nav {
        display: flex;
        flex-direction: column;
    }

    h2, .about p, h5, h1, .container p {
        text-align: center;
    }

    .navbar {
        justify-content: center;
    }

    .navbar-light .navbar-brand {
        margin: 0;
    }

    .hero img {
        display: none;
    }

    .hero h1{ 
        margin-top: 0.5em;
    }

    .about {
        margin-bottom: 1em;
    }

    .hero-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    .contact-btn {
        margin-top: 1em;
    }

    .side2-img img {
        right: 0;
    }
}
