* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background-image: url('images/background.png');

    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a, button {
    text-decoration: none;
    color: inherit;
}



section {
    padding: 3.5em 0 3em 3.5em;
    width: 53rem;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(59, 59, 59, 1);
    background: url('images/form-background.png');
    background-size: cover;
    margin: 0 auto;
}

form {
    width: 45%;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.fields input {
    padding: 1em;
    border-radius: 2em;
    border: 1px solid #ccc;
    background: none;
}

.fields label , span{
    color: #555;
    font-size: 0.75rem;
    margin: 0.5em 0;
}

.field {
    display: flex;
    flex-direction: column;
}

.field.long {
    flex: 0 1 100%;
}
.field.short {
    width: 47%;
}

button {
    display: block;
    width: fit-content;
    color: white;
    background-color: #AE3C33;
    padding: 1em 2em;
    border-radius: 2em;
    border: none;
    margin: 1em auto;
    text-transform: uppercase;
}

.terms {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.75em;
}