* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a, button {
    text-decoration: none;
    color: inherit;
}

header, main {
    max-width: 69rem;
    margin: 0 auto;
}

header {
    display: flex;
    padding: 2rem 2rem 20rem 3rem;
}

header div:first-child {
    display: flex;
    align-items: center;
}