* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75em;
    font-weight: 700;
    padding: 1em 2em 1em 6em;
    box-shadow: 0px 5px 25px 4px #ccc;
    position: relative;
}

nav ul {
    list-style-type: none;
    display: flex;    
    font-weight: 700;
    gap: 1em;
}

section {
    display: flex;
    
}

h1 {
    font-size: 3.5em;
    font-weight: 900;
    margin: 3rem 0;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
}
.sub-heading {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 3px;
    width: 50%;
    margin: 2em auto;
    text-align: center;
}
h4 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}
p {
    margin: 2em 0;
    font-size: 1.25em;
    line-height: 1.5;
}

main section:nth-of-type(1)  {
    flex-direction: row;
}
main section:nth-of-type(1) > article {
    flex:1 0 60%;
    background-color: #85DCFF;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section:nth-of-type(1) > img {
    flex:1 0 35%;
}
main section:nth-of-type(1) > div {
    flex:1 0 5%;
    background-color: #85DCFF;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

button:hover {
    color: #000;
    background-color: #fff;

}

button {
    color: #fff;
    background-color: #000;
    padding: 1.25em;
    font-size: 1.25em;
    flex-grow: 1;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

main section:nth-of-type(2)  {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.articles-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.articles-wrapper article{
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
}
.articles-wrapper article p{
    text-align: center;
    letter-spacing: 1px;
}
.articles-wrapper article i{
    text-align: center;
    font-size: 10em;
    color: #85DCFF;
    margin-bottom: 3rem;
}

main section:nth-of-type(3)  {
    padding: 7rem 0 6rem;
    background-color: #85DCFF;
}

main section:nth-of-type(3) div {
    flex-direction: column;
    width: 69rem;
    margin: 0 auto;
    display: flex;    
    align-items: center;
}

main section:nth-of-type(3) ul {
    display: flex;
    flex-wrap: wrap;    
    gap: 1em;
    margin: 5em 0;
}
main section:nth-of-type(3) ul li{
    flex:1 0 40%;   
    font-size: 1.75em;
    line-height: 1.5;
    margin-bottom: 1rem;
}
main section:nth-of-type(3) ul li i{
    margin-right: 10px;
    font-size: 1em;
    position: relative;
    top: -7px;
}
main section:nth-of-type(3) button{
    padding: 1em 5em;

}

h1, main > h2, main > p {
    text-align: center;
}

main > p {
    font-size: 1.5em;
}

.animals-pics {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto 5em;
}
.animals-pics img {
    display: block;
    width: 23.5rem;
}


main section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    width: 90.75rem;
}

main section:nth-of-type(5) article {
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
}
main section:nth-of-type(5) article p {
    margin: 0;
    padding: 1.5em 1.75em;
    font-weight: 700;
    font-size: 1.4em;
}

main section:nth-of-type(5) article .blue-bg-heading {
    background-color: #85DCFF;
    font-size: 1.6em;
} 

main section:nth-of-type(6){
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
}

main section:nth-of-type(6) > article {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section:nth-of-type(6) > img {
    display: block;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50%;
}

form input {
    padding: 2em;
    border: 1px solid #aaa;
    border-radius: 10px;
}

form input::placeholder {
    font-size: 1.5em;
    font-weight: 700;
}

form button {
    display: block;
    width: 70%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}
footer p{
    font-size: 1.5rem;
}
footer a i{
    font-size: 2.5rem;
}
footer a + a{
    margin-left: 1rem;
}
