/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;    
}

a, img {
    display: block;
}

html {
    font: 16px/1.8 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Serif', serif;
}

ul {
    list-style-type: none;
}

/* Header */
header {
    background-image: url('images/background.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 18rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 4.5rem;
    text-transform: uppercase;    
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
nav img {
    width: 7.5rem;
}

header article {
    margin-left: 11%;
}

h1 {
    font: 4rem/1.3 'PT Serif', serif;
    font-weight: 500;
}

header p {
    width: 45%;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

/* Main */
.first {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    padding: 8rem 14rem;
}

h2 {
    font: 3.5rem/1.3 'PT Serif', serif;
    font-weight: 500;
    padding: 0.5rem 0;
}

.first p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
}
.first a {
    border: 2px solid #B0825C;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    color: #B0825C;
    font-weight: 700;
    font-size: 1.15rem;
    margin-top: 2.5rem;
}
.second::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #ddd;
    position: absolute;
    top:0;
    left: 0;
}

.second {
    padding: 1rem 16.5rem;
    position: relative;
}

.second h2, .second p {
    text-align: center;
}
.second h2 {
    color: #B0825C;
    margin-bottom: 1rem;
}
.second p {
    color: #666;
    font-size: 1.25rem;
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 29rem;
    margin: 3rem auto;
}

.sponsors img {
    width: 11rem;
    border-radius: 50%;
    background-color: #ddd;
    padding: 1.5rem;
    overflow: visible;
}

.third {
    background-color: #171720;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 14rem 5rem;
}
.third ul {
    color: #B3A6A8;
    text-transform: uppercase;
}
.third h3 {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.third ul li{
    margin-bottom: 1.5rem;
}

/* Footer */
footer::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #B3A6A8;
    position: absolute;
    top:0;
    left: 0;
}
footer {
    background-color: #171720;
    color: #B3A6A8;
    padding: 1.5rem 14rem;
    position: relative;
}

@media screen and (max-width: 1500px) {
    .third {
        flex-direction: column;
        text-align: center;
        padding: 2rem 6rem;
    }    
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 12px;
    }
    .first {
        padding: 4rem 6rem;
        flex-direction: column;
    }   
    .second {
        padding: 1rem 6rem;
    } 
    header p {
        width: 80%;
    }   
    footer {
        text-align: center;
    } 
}
@media screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
    nav {
        flex-direction: column;
    } 
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}