div {
    margin-bottom: 0.75em;
    padding: 1em;
    max-width: 20em;
    font-weight: 700;
}

.solid-border {
    border: 4px solid black;
}

.dashed-border {
    border: 3px dashed #333;
}

.dotted-border {
    border: 2px dotted #666;
}

.mixed-border {
    border-top: 3px dashed #333;
    border-right: 4px solid black;
    border-bottom: 3px dashed #333;
    border-left: 4px solid black;
}

