@media screen and (max-width: 768px) {
    .main-movie {
        flex-direction: column;
    }

    .main-movie-poster {
        display: none;
    }

    .main-movie ul {
        flex-direction: column;
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .movies ul{
        flex-direction: column;
    }
    .movies {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}