* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

a, img {
    display: block;
    text-decoration: none;
}


ul {
    list-style-type: none;
}

body  {
    font: 16px/1.5 'Inter', sans-serif;
    background-color: #85DCFF;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5.5rem;
    width: 62.5rem;
}

article > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.5rem;
}
article a {
    padding: 0.75rem 1.75rem;
    border-radius: 5px;
}

h1 {
    font-size: 2.5rem;
    width: 75%;
    margin-bottom: 1rem;
}

article a, article p {
    font-size: 0.9rem;
}

.left {
    border: 1px solid #000;
    background-color: #42AA59;
}
.right {
    background-color: #fff;
}

img {
    width: 36%;
    height: auto;
    box-shadow: 6px 6px 10px;
}