/* HTML5 reset */
body, div, span, h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */
body {
	font-family: "Lato", "Montserrat", "Arial", "Helvetica", sans-serif;
}
.header-container, .header-left, .header-right, nav, ul {
	display: flex;
	align-items: center;
	background-color: #234465;
}


/* Header */
.logo {
	height: 45px;
}

.header-container {
	justify-content: space-between;
	padding: 1em 15em;
}

.header-right {
	justify-content: space-between;
}

header ul {
	gap: 1em;
}
header a {
	font-size: 1rem;
}

.navbar > li > a, .fa-search {	
	color: #8DA1B2;
	text-transform: uppercase;
	font-weight: 700;
}

nav ul:nth-child(2) li:nth-child(1) {
	margin-left: 1em;
}

.fa-search {
	font-size: 1.5rem;
}

.button {
	
	background-color: #FFA000;	
	padding: 0.5em 1.5em;
	border-radius: 20px;
	color: white;
}

header .button {
	display: flex;
}

.button a {
	color: white;
	font-weight: 700;
}

/* Main */	
main {
	display: flex;
	flex-direction: column;
}

.background-img {
	background-image: url(images/wordpress.png);
    background-repeat: no-repeat;
    height: 700px;
    width: 700px;
    transform: rotate(30deg);
    opacity: 0.5;
    position: absolute;
	top: 18em;
	left: -11em;
}

.main-nav {
	display: flex;
	justify-content: left;
	margin: 0 15em;
}

.main-nav ul {
	background-color: white;
	gap: 1.75em;
}

.main-nav ul li a {
	font-weight: 700;
	color: #C87D00;
}

.main-nav ul li {
	padding: 1.5em 0;
}

.main-nav ul li a:focus {
	color: #162B40;	
	outline: none;
}
  

.main-nav ul li:focus-within {
	border-bottom: 2px solid #162B40;
}

.main-header {
	text-align: center;		
	background-image: url('images/navbar-bg-pattern.png');
	background-size: cover;
	width: 100%;
}

.main-header > div {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.main-header > div > ul {
	gap: 2em;	
}

h1 {
	color: white;
	font-weight: 900;
	font-size: 3rem;
	padding: 1em 0 0.5em 0;
	letter-spacing: 1.4px;
}

.main-header ul {
	background: none;
}

.main-header > div > div {
	margin: 4em 0;
}

.main-header > div > div > a {
	color: #ffffff;
	padding: 0.5em 5em;
	border-radius: 30px;
	font-size: 1.25rem;
	font-weight: 700;
}


.main-header ul a {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 300;
}

.main-header i {
	color: #ffffff;
	font-size: 2rem;
	margin-right: 0.25em;
}

.main-articles {
	z-index: 1;
	margin-top: 2em;
}

.main-articles article {
	display: flex;
	flex-direction: column;
    margin: 1em 15em;
    background-color: rgb(238, 238, 238);
    padding: 2em;
}

.main-articles article h2 {
	text-align: center;
	font-size: 2em;
	color: #162B40;
	width: fit-content;
	font-weight: 700;
}

.h2-wrapper {
	display: flex;
    align-items: center;
    flex-direction: column;
}

hr {
	border: none;
    display: block;
    height: 4px;
    background-color: #FFA000;
	margin-top: 0.25em;
    width: 90%;
}

.bold-text {
	font-weight: 700;
}

.main-articles article:nth-child(1) div:nth-child(2) {
	font-size: 1.10rem;
    line-height: 1.5;
    margin-bottom: 2.5em;
	color: #162B40;
}

.main-articles article:nth-child(1) div:nth-child(3) {
	text-align: center;
}

.main-articles article:nth-child(2) li{
	color: #000000;
	line-height: 2;
	font-size: 1.25rem;
}
.main-articles article:nth-child(2) ul, .main-articles article:nth-child(3) ul {
	display: block;
	background: none;
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.main-articles article:nth-child(2) i {
	font-size: 1.5rem;
	color: #FFA000;
	margin-right: 0.5em;
}

.main-articles article:nth-child(3) li:nth-child(1){	
	margin: 0 0 0.5em 0;
}

.main-articles article:nth-child(3) li{
	margin: 0.5em 0;
	background-color: rgba(218, 218, 218);
    padding: 0.5em 1em;
    border-left: 3px solid rgba(10, 10, 97);
	font-weight: 700;
}

.main-articles article:nth-child(3) span{
	color:  rgba(10, 10, 97);
	margin-right: 1em;
}

.main-articles article:nth-child(3) li a{
	color: rgb(87, 87, 87);
}

.main-articles article:nth-child(4) {
	background-color: #FFA000;
}

.main-articles article:nth-child(4) h2 {
	color:rgb(255, 255, 255);
}

.main-articles article:nth-child(4) p {
	color:rgb(255, 255, 255);
	font-size: 1.25rem;
    line-height: 1.25;
    margin: 0.5em 1em 0em 1.25em;
}

.main-articles article:nth-child(4) hr {
	background-color:rgb(255, 255, 255);
}

.main-articles article:nth-child(5) {
	
	line-height: 1.25;
	font-weight: 500;
}

.main-articles article:nth-child(5) h4 {
	color: #FFA000;
	font-weight: 700;
}

.main-articles article:nth-child(5) p {
	color: rgb(87, 87, 87);
	margin-bottom: 1em;
}

.main-articles article:nth-child(5) h4, p, div {
	font-size: 1.25rem;
}

.main-articles article:nth-child(5) {
	padding-bottom: 0;
}

.details-wrapper {
	margin-bottom: -0.25em;
	box-shadow: 10px 10px 10px darkgrey;
}

.details-wrapper div ul {
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	margin-right: 4em;
}
.details-wrapper div li{
	list-style-type: disc;
}

.details-wrapper div:nth-child(1) {
	background-color: #234465;
}

.details {
	background-color: #FFA000;
	color: white;
	display: flex;
    justify-content: space-between;
	padding: 0.75em 4em 0.75em 1em;
}

.details-wrapper div:nth-child(2) ul {
	background-color: #FFA000;
}

.details-wrapper div:nth-child(1) ul {
	background-color: #234465;
}

.teacher {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em 0;
}

.teacher img {
	border-radius: 50%;
    height: 6em;
    margin: 0 2em;
}
.teacher p {
	color: rgb(87, 87, 87);
}

.main-articles article:nth-child(6) h2 {
	font-size: 1.75rem;
}

.main-articles article:nth-child(6) {
	margin-top: 2em;
}

.teacher h2 {
	margin-bottom: 0.5em;
}

.button-bottom {
	text-align: center;
	margin: 2em 0 4em 0;
}

.button-bottom a {
	padding: 0.5em 4em;
	font-weight: 700;
}



/* Footer */
footer {
	justify-content: space-between;
	margin-top: auto;
	padding: 2em 15em;
	background-color: #162B40;
	display: flex;
	font-weight: 500;
}

footer > div, footer > div > ul {
	flex-direction: column;
	align-items: flex-start;
	background-color: #162B40;
}

footer > div {
	width: 25%;
}

.social-media ul {
	background-color: #162B40;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 2rem;
}

footer ul {
	margin-left: 0;
	padding-left: 0;
	gap: 0.5em;
}

footer h3 {
	color: #FFA000;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: 700;
}

footer a {
	color: white;
	font-size: 0.75em;
}

footer:nth-last-child(1) {
	color: #8DA1B2;	
}

footer:nth-last-child(1) p {
	padding-bottom: 0.25em;
	font-size: 0.75em;
}

