/* HTML5 reset */
body, div, span, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */
body {
	font-family: 'Lato', "Arial", "Helvetica", sans-serif;
}
.header-container, .header-left, .header-right, nav, ul {
	display: flex;
	align-items: center;
	background-color: #234465;
}


/* Header */
.logo {
	height: 45px;
}

.header-container {
	justify-content: space-between;
	padding: 0 15em;
}

.header-right {
	justify-content: space-between;
	padding-right: 5em;
}

header ul {
	gap: 2em;
}

.navbar > li > a, .fa-search {	
	color: #8DA1B2;
	text-transform: uppercase;
	font-weight: 700;
}

.fa-search {
	font-size: 1.5rem;
}

.button {
	background-color: #FFA000;	
	padding: 0.5em 1.5em;
	border-radius: 20px;
}

.button a {
	color: white;
	font-weight: 700;
}

/* Main */	



/* Footer */
footer {
	justify-content: space-between;
	margin-top: auto;
	padding: 2em 18em;
	background-color: #162B40;
	display: flex;
	font-weight: 500;
}

footer > div, footer > div > ul {
	flex-direction: column;
	align-items: flex-start;
	background-color: #162B40;
}

footer > div {
	width: 25%;
}

.social-media ul {
	background-color: #162B40;
	margin-top: 0;
	margin-bottom: 2em;
	font-size: 1.25rem;
}

footer ul {
	margin-left: 0;
	padding-left: 0;
	gap: 0.75em;
}

footer h3 {
	color: #FFA000;
	margin-bottom: 0.5em;
}

footer a {
	color: white;
}

footer:nth-last-child(1) {
	color: #8DA1B2;
}

footer:nth-last-child(1) p {
	padding-bottom: 0.25em;
}

